<mat-card class="reset-password-card">
  <mat-card-header class="reset-password-header">
    <mat-card-title class="reset-password-title">Restablecer Contraseña</mat-card-title>
    <mat-card-subtitle class="reset-password-subtitle">
      Ingresa el token recibido y tu nueva contraseña
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password-form">
      <!-- Campo para el token -->
      <mat-form-field appearance="outline">
        <mat-label>Token de verificación</mat-label>
        <input matInput formControlName="token" required />
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error *ngIf="resetPasswordForm.get('token')?.invalid">
          El token es requerido
        </mat-error>
      </mat-form-field>

      <!-- Campo para nueva contraseña -->
      <mat-form-field appearance="outline">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput formControlName="newPassword" [type]="hidePassword ? 'password' : 'text'" required />
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="resetPasswordForm.get('newPassword')?.invalid">
          La contraseña es requerida (mínimo 8 caracteres)
        </mat-error>
      </mat-form-field>

      <!-- Campo para confirmar contraseña -->
      <mat-form-field appearance="outline">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" required />
        <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
          {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('passwordMismatch')">
          Las contraseñas no coinciden
        </mat-error>
      </mat-form-field>

      <!-- Botón de enviar -->
      <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">
        Restablecer Contraseña
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions class="reset-password-actions">
    <button mat-button color="accent" (click)="goToLogin()">Volver al inicio de sesión</button>
  </mat-card-actions>
</mat-card>