<mat-card class="forgot-password-card">
  <mat-card-header class="forgot-password-header">
    <mat-card-title class="forgot-password-title">Recuperar Contraseña</mat-card-title>
    <mat-card-subtitle class="forgot-password-subtitle">
      Ingresa tu correo electrónico para recibir una contraseña temporal.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
      <!-- Campo de correo electrónico -->
      <mat-form-field appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="email" required />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid">
          El correo electrónico es requerido.
        </mat-error>
      </mat-form-field>

      <!-- Botón de enviar -->
      <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">
        Enviar
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions class="forgot-password-actions">
    <!-- Botón para volver al login usando routerLink -->
    <a mat-button color="accent" routerLink="/login">Volver al inicio de sesión</a>
  </mat-card-actions>
</mat-card>


