.facturacion-container {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .titulo {
    font-size: 24px;
    font-weight: 600; /* Semibold */
    color: #143470;
    margin-bottom: 10px;
  }
  
  .subtitulo {
    font-size: 24px;
    font-weight: 600; /* Semibold */
    color: #2c5db8;
    margin-bottom: 20px;
  }
  
  .descripcion {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .contenedor-principal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .columna-izquierda, .columna-derecha {
    width: 48%;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .form-group input, .form-group select, .form-group button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .tabla-productos table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .tabla-productos th, .tabla-productos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tabla-productos th {
    background-color: #f4f4f4;
    font-weight: 600;
  }
  
  .tabla-productos input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .botones-accion {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .botones-accion button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .botones-accion .cancelar {
    background-color: #f44336;
    color: white;
  }
  
  .botones-accion .guardar {
    background-color: #4caf50;
    color: white;
  }
  
  /* Estilos para la sección de Formas de Pago */
  .formas-pago {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .titulo-formas-pago {
    font-size: 24px;
    font-weight: 600;
    color: #2c5db8;
    margin-bottom: 20px;
  }
  
  .seleccion-forma-pago {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .seleccion-forma-pago label {
    font-weight: 500;
  }
  
  .seleccion-forma-pago select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
  }
  
  .agregar-forma-pago {
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .agregar-forma-pago:hover {
    background-color: #45a049;
  }
  
  .desglose-valores {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .valor {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .valor span:first-child {
    font-weight: 500;
  }
  
  .valor span:last-child {
    color: #333;
  }