.ayuda-container {
  padding: 20px;
  text-align: center;
  background: linear-gradient(135deg, #143470, #2c5db8);
  min-height: 100vh;
  position: relative;
  color: white !important;
}

.top-bar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.back-button {
  background-color: white;  
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(237, 237, 237);
}

.pqrsf-section button {
  margin-top: 10px; /* Ajusta el valor según sea necesario */
}

.search-section {
  text-align: left;
  margin-bottom: 20px;
  color: white !important;
}

.search-bar {
  color: white !important;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}

.search-field .mat-input-element::placeholder {
  color: white !important;
  opacity: 1;
}

.search-field .mat-input-element {
  color: white !important;
}

.search-message {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #fff; /* Texto blanco para contraste */
}

.sections-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; /* Separación entre secciones */
}

.faq-section, .guide-section, .pqrsf-section {
  width: 32%; /* Cada sección ocupa un tercio del espacio */
  text-align: left;
  background-color: #fff; /* Fondo blanco para las secciones */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-title, .guide-title, .pqrsf-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600; /* Semibold */
  color: #007bff; /* Azul similar al fondo */
}

.faq-question {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;
}

.faq-answer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #666;
}

.guide-section p, .pqrsf-section p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #666;
}

.file-upload {
  margin: 15px 0;
}

.file-upload p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #666;
}

.info-section {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Tamaño de letra más pequeño */
  color: #fff; /* Texto blanco para contraste */
}

.info-section h3 {
  font-size: 18px; /* Tamaño de letra más pequeño */
  color: #fff; /* Texto blanco para contraste */
}

.contact-icons {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Mover a la parte inferior derecha */
  display: flex;
  gap: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}