<div class="desglose-valores">
  <div class="valor">
    <span>Total Bruto:</span>
    <span>{{ totalBruto | currency }}</span> <!-- Uso del pipe currency -->
  </div>
  <div class="valor">
    <span>Descuentos:</span>
    <span>{{ descuentos | currency }}</span> <!-- Uso del pipe currency -->
  </div>
  <div class="valor">
    <span>Subtotal:</span>
    <span>{{ subtotal | currency }}</span> <!-- Uso del pipe currency -->
  </div>
  <div class="valor">
    <span>Retefuente 1%:</span>
    <span>{{ retefuente | currency }}</span> <!-- Uso del pipe currency -->
  </div>
  <div class="valor">
    <span>RetelCA:</span>
    <span>{{ retelCA | currency }}</span> <!-- Uso del pipe currency -->
  </div>
  <div class="valor">
    <span>Copago/Anticipo:</span>
    <span>{{ copagoAnticipo | currency }}</span> <!-- Uso del pipe currency -->
  </div>
  <div class="valor">
    <span>Total Neto:</span>
    <span>{{ totalNeto | currency }}</span> <!-- Uso del pipe currency -->
  </div>
</div>